body {
  background-color: #fbfbfb;
  margin-bottom: 80px;
}

table,
td,
th {
  text-align: left;
  border-bottom: 1px solid white;
  padding: 9px;
}

th {
  background-color: white;
}

#me {
  color: navy;
}

tr {
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

button {
  border: none;
  background-color: white;
}

.exam {
  background-color: #0d6efd;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin-bottom: 50px;
}

@keyframes example {
  0% {
    background-color: red;
  }

  25% {
    background-color: deeppink;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: green;
  }
}

h2 {
  background-color: #000ee3;
}